body{
    background-color: lightgray;
}

<style type="text/css">
h1{ 
    font-size: 40px;
    color: deeppink;
}
h2{
    font-size: 70px;
    color: gold;
}
.big{
    font-size: 80px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: lawngreen;
}
h1 span{
    color: maroon;
}
</style> 